mixin star(checked)
  if checked
    span.rate-button__star.rate-button__star--checked
      i.material-icons star
      i.material-icons star_border
  else
    span.rate-button__star
      i.material-icons star
      i.material-icons star_border