mixin advantage(logo, title, description)
  .advantage
    .advantage__logo
      i.material-icons= logo
    .advantage__text
      p.advantage__title= title
      p.advantage__description= description