.icon-link {
  display: inline-block;
  margin-top: 0;
  font-size: 12px;
  line-height: 15px;
  font-weight: 700;
  color: $purple;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: $dark-50;
  }
}
