.book-room {
  &__room {
    display: flex;
    justify-content: space-between;
  }

  &__room-number {
    margin: 0;
    font-size: 24px;
    line-height: 29px;
  }

  &__price {
    margin: 0;
    margin-top: 10px;
    font-size: 14px;
    line-height: 18px;
    color: $dark-50;
  }

  &__dates {
    display: flex;
    justify-content: space-between;
  }

  &__column {
    width: 50%;
  }

  &__column:first-child {
    padding-right: 10px;
  }

  &__column:last-child {
    padding-left: 10px;
  }
}
