$font: "Montserrat", sans-serif;

$dark-100: #1f2041;
$dark-75: rgba(#1f2041, 0.75);
$dark-50: rgba(#1f2041, 0.5);
$dark-25: rgba(#1f2041, 0.25);
$dark-5: rgba(#1f2041, 0.05);
$purple: #bc9cff;
$green: #6fcf97;

$start-gradient: #bc9cff;
$end-gradient: #8ba4f9;
$start-gradient-hover: rgba(#bc9cff, 0.5);
$end-gradient-hover: rgba(#8ba4f9, 0.5);
