@import "~normalize.css";
@import "~material-design-icons/iconfont/material-icons.css";

@import "vars";
@import "fonts";
@import "global";

@import "typography";

.uikit-page {
  background-color: #e5e5e5;

  .container {
    width: 1440px;
    margin: 0 auto;
  }

  .colors-and-type {
    padding: 145px 158px 140px 150px;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;

    &__colors {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    &__fonts {
    }
  }

  .form-elements {
    display: flex;
    justify-content: space-between;
    padding: 140px;
    background-color: #ffffff;

    &__column {
      width: 320px;
    }

    &__column:nth-child(2) {
      width: 260px;
    }

    .group-title {
      margin-top: 0;
      margin-bottom: 17px;
      font-size: 12px;
      line-height: 15px;
      font-weight: 700;
      text-transform: uppercase;
    }

    .checkbox-buttons {
      margin-bottom: 40px;
    }

    .radio-buttons {
      margin-bottom: 40px;

      &__wrapper {
        display: flex;
      }

      .radio:first-child {
        margin-right: 20px;
      }
    }

    .toggle-buttons {
      margin-bottom: 40px;
    }

    .like-buttons {
      margin-bottom: 40px;
    }
  }

  .cards {
    padding: 140px;
    background-color: #f4f4f6;
  }

  .headers-footers {
    padding: 140px 0;
    background-color: #f4f4f6;
  }
}

@import "../pug/blocks/color/color";
@import "../pug/blocks/button/button";
@import "../pug/blocks/checkbox/checkbox";
@import "../pug/blocks/dropdown/dropdown";
@import "../pug/blocks/icon-link/icon-link";
@import "../pug/blocks/masked-text-field/masked-text-field";
@import "../pug/blocks/text-field/text-field";
@import "../pug/blocks/radio/radio";
@import "../pug/blocks/toggle/toggle";
@import "../pug/blocks/like-button/like-button";
@import "../pug/blocks/rate-button/rate-button";
