@import "~normalize.css";
@import "~material-design-icons/iconfont/material-icons.css";

@import "vars";
@import "fonts";
@import "global";

@import "typography";

.uikit-page {
  background-color: #e5e5e5;

  .container {
    width: 1440px;
    margin: 0 auto;
  }

  .colors-and-type {
    padding: 145px 158px 140px 150px;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;

    &__colors {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    .fonts {
      display: flex;
      width: 436px;

      &__names {
        margin-right: 30px;
        color: $dark-25;
        text-align: right;
      }

      &__name-h1 {
        margin: 0;
        margin-bottom: 80px;
        font-size: 24px;
        line-height: 29px;
      }

      &__name-h2 {
        margin: 0;
        margin-bottom: 74px;
        font-size: 19px;
        line-height: 23px;
      }

      &__name-h3 {
        margin: 0;
        margin-bottom: 50px;
        font-size: 12px;
        line-height: 15px;
      }

      &__name-body {
        margin: 0;
        font-size: 14px;
        line-height: 24px;
      }

      &__descr-h1 {
        margin: 0;
        margin-bottom: 51px;
        font-size: 24px;
        line-height: 29px;
        font-weight: 700;
        color: $dark-100;
      }

      &__descr-h2 {
        margin: 0;
        margin-bottom: 51px;
        font-size: 19px;
        line-height: 23px;
        font-weight: 700;
        color: $dark-100;
      }

      &__descr-h3 {
        margin: 0;
        margin-bottom: 50px;
        font-size: 12px;
        line-height: 15px;
        font-weight: 700;
        text-transform: uppercase;
        color: $dark-100;
      }

      &__descr-body {
        margin: 0;
        font-size: 14px;
        line-height: 24px;
        font-weight: 400;
        color: $dark-75;
      }
    }
  }

  .form-elements {
    display: flex;
    justify-content: space-between;
    padding: 140px;
    background-color: #ffffff;

    &__column {
      width: 320px;
    }

    &__column:nth-child(2) {
      width: 260px;
    }

    .group-title {
      margin-top: 0;
      margin-bottom: 17px;
      font-size: 12px;
      line-height: 15px;
      font-weight: 700;
      text-transform: uppercase;
    }

    .date-dropdowns {
      display: flex;
      justify-content: space-between;

      &__column {
        width: 50%;
      }

      &__column:first-child {
        padding-right: 10px;
      }

      &__column:last-child {
        padding-left: 10px;
      }
    }

    .checkbox-buttons {
      margin-bottom: 40px;
    }

    .radio-buttons {
      margin-bottom: 40px;

      &__wrapper {
        display: flex;
      }

      .radio:first-child {
        margin-right: 20px;
      }
    }

    .toggle-buttons {
      margin-bottom: 40px;
    }

    .like-buttons {
      margin-bottom: 40px;
    }
  }

  .cards {
    padding: 140px;
    background-color: #f4f4f6;
  }

  .headers-footers {
    padding: 140px 0;
    background-color: #f4f4f6;
  }
}

@import "../pug/blocks/color/color";
@import "../pug/blocks/button/button";
@import "../pug/blocks/checkbox/checkbox";
@import "../pug/blocks/dropdown/dropdown";
@import "../pug/blocks/icon-link/icon-link";
@import "../pug/blocks/masked-text-field/masked-text-field";
@import "../pug/blocks/text-field/text-field";
@import "../pug/blocks/radio/radio";
@import "../pug/blocks/toggle/toggle";
@import "../pug/blocks/like-button/like-button";
@import "../pug/blocks/rate-button/rate-button";
@import "../pug/blocks/date-dropdown/date-dropdown";
