@import "~normalize.css";

@import "vars";
@import "fonts";
@import "global";

@import "typography";

.uikit-page {
  background-color: #e5e5e5;

  .container {
    width: 1440px;
    margin: 0 auto;
  }

  .form-elements {
    display: flex;
    justify-content: space-between;
    padding: 140px;
    background-color: #ffffff;

    &__column {
      width: 320px;
    }

    &__column:nth-child(2) {
      width: 260px;
    }

    .checkbox-buttons {
      &__title {
        margin-top: 0;
        margin-bottom: 17px;
        font-size: 12px;
        line-height: 15px;
        font-weight: 700;
        text-transform: uppercase;
      }
    }
  }

  .cards {
    padding: 140px;
    background-color: #f4f4f6;
  }

  .headers-footers {
    padding: 140px 0;
    background-color: #f4f4f6;
  }
}

@import "../pug/blocks/button/button";
@import "../pug/blocks/checkbox/checkbox";
@import "../pug/blocks/dropdown/dropdown";
@import "../pug/blocks/icon-link/icon-link";
@import "../pug/blocks/masked-text-field/masked-text-field";
@import "../pug/blocks/text-field/text-field";
