mixin like-button(id, count, liked)
  .like-button
    label.like-button__label
      input.like-button__input(type="checkbox" name=id id=id checked=liked)
      .like-button__mark
        i.material-icons favorite_border
        i.material-icons favorite
        span.like-button__text= count