.like-button {
  position: relative;
  padding-left: 50px;
  margin-bottom: 10px;

  &__input {
    appearance: none;
    position: absolute;
  }

  &__mark {
    display: flex;
    align-items: center;
    margin-left: -50px;
    padding-left: 5px;
    width: 40px;
    height: 20px;
    background: #ffffff;
    border: 1px solid $dark-25;
    border-radius: 10px;

    svg {
      margin-right: 5px;
      path {
        stroke: $dark-25;
        stroke-width: 1;
        fill: none;
      }
    }
  }

  &__text {
    font-size: 10px;
    line-height: 12px;
    font-weight: 400;
    color: $dark-25;
  }

  &__input:checked + &__mark {
    border: 1px solid $purple;

    svg path {
      fill: $purple;
      stroke: $purple;
    }

    .like-button__text {
      color: $purple;
    }
  }
}
