.like-button {
  display: inline-block;
  position: relative;

  &__input {
    appearance: none;
    position: absolute;
  }

  &__mark {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    width: 40px;
    height: 20px;
    background: #ffffff;
    border: 1px solid $dark-25;
    border-radius: 10px;

    i {
      font-size: 10px;
      line-height: 9px;
      color: $dark-25;
    }

    i:nth-child(2) {
      color: $purple;
      display: none;
    }
  }

  &__text {
    font-size: 10px;
    line-height: 12px;
    font-weight: 400;
    color: $dark-25;
    width: 50%;
  }

  &__input:checked + &__mark {
    border: 1px solid $purple;

    i:nth-child(1) {
      display: none;
    }

    i:nth-child(2) {
      display: block;
    }

    .like-button__text {
      color: $purple;
    }
  }
}
