extends ../layout/main

block variables
  - var title = 'MetaLamp Task 2'
  - var pageClass = 'uikit-page'

block content
  .container
    p Form elements
    section.form-elements
      .form-elements__column
        +text-field("email", "Text field", "Email")
        +dropdown("Dropdown", "Сколько гостей")
        +masked-text-field("date", "Masked text field", "ДД.ММ.ГГГГ")
        .date-dropdown
        .filter-date-dropdown
        .subscription-text-field

      .form-elements__column 
        .checkbox-buttons
          p.checkbox-buttons__title.group-title Checkbox Buttons
          +checkbox("smoke", "Можно курить")
          +checkbox("pets", "Можно с питомцами", true)
          +checkbox("guests", "Можно пригласить гостей (до 10 человек)", true)
        .radio-buttons
          p.radio-buttons__title.group-title Radio buttons
          .radio-buttons__wrapper
            +radio("male", "gender", "male", "Мужчина", true)
            +radio("female", "gender", "female", "Женщина")
        .toggle-buttons
          p.toggle-buttons__title.group-title Toggle
          +toggle("get-proposals", "Получать спецпредложения", true)
          +toggle("get-proposals", "Получать спецпредложения")
        .like-button
        .rate-button

      .form-elements__column
        .range-slider
        .buttons
          p.buttons__title.group-title Buttons
          +button("button1", "Сlick me", "")
          br
          +button("button2", "Сlick me", "button--light")
          br
          +icon-link("Сlick me")
          br
          +button("button3", "Перейти к оплате", "button--go")
        .pagination

    p Cards
    section.cards

    p Headers and Footers
    section.headers-footers
