extends ../layout/main

block variables
  - var title = 'MetaLamp Task 2'
  - var pageClass = 'uikit-page'

block content
  .container
    p Colors & Type
    section.colors-and-type
      ul.colors-and-type__colors
        +color("Dark Shade 100%", "#1F2041")
        +color("Dark Shade 75%", "#1F2041", "dark-75")
        +color("Dark Shade 50%", "#1F2041", "dark-50")
        +color("Dark Shade 25%", "#1F2041", "dark-25")
        +color("Dark Shade 5%", "#1F2041", "dark-5")
        +color("Dark Shade Purple", "#BC9CFF", "purple")
        +color("Dark Shade Green", "#6FCF97", "green")
      .colors-and-type__fonts.fonts
        .fonts__names
          p.fonts__name-h1 H1
          p.fonts__name-h2 H2
          p.fonts__name-h3 H3
          p.fonts__name-body Body
        .fonts__descriptions
          p.fonts__descr-h1 This one is the sub-section or widget title
          p.fonts__descr-h2 Next one is the item title inside widgets
          p.fonts__descr-h3 This is a label or CTA text
          p.fonts__descr-body This is the body text which is used for most of the design, like paragraphs, lists, etc.

    p Form elements
    section.form-elements
      .form-elements__column
        +text-field("email", "Text field", "Email", "Default")
        +text-field("address", "Text field", "Адрес", "Hover / Focus", "This is pretty awesome")
        +dropdown("Dropdown", "Сколько гостей", "Default")
        +masked-text-field("date", "Masked text field", "ДД.ММ.ГГГГ")
        .date-dropdowns
          .date-dropdowns__column
            +date-dropdown("Date dropdown", "ДД.ММ.ГГГГ")
          .date-dropdowns__column
            +date-dropdown("Date dropdown", "19.08.2019")
        .filter-date-dropdown
          .filter-date-dropdown__wrapper
            +date-dropdown("Filter date dropdown", "19 авг - 23 авг")
        .subscription-text-field-block
          .subscription-text-field-block__wrapper
            +subscription-text-field("subscribe", "subscription text field", "Email")

      .form-elements__column 
        .checkbox-buttons
          p.checkbox-buttons__title.group-title Checkbox Buttons
          +checkbox("smoke", "Можно курить")
          +checkbox("pets", "Можно с питомцами", true)
          +checkbox("guests", "Можно пригласить гостей (до 10 человек)", true)
        .radio-buttons
          p.radio-buttons__title.group-title Radio buttons
          .radio-buttons__wrapper
            +radio("male", "gender", "male", "Мужчина", true)
            +radio("female", "gender", "female", "Женщина")
        .toggle-buttons
          p.toggle-buttons__title.group-title Toggle
          +toggle("get-proposals", "Получать спецпредложения", true)
          +toggle("get-proposals", "Получать спецпредложения")
        .like-buttons
          p.like-buttons__title.group-title Like button
          +like-button("not-liked", "2")
          +like-button("liked", "12", true)

        .rate-buttons
          p.rate-buttons__title.group-title Rate button
          +rate-button(4)
          +rate-button(5)


      .form-elements__column
        .form-elements__range
          +range-slider("Range slider", "5 000₽ - 10 000₽")
        .buttons
          p.buttons__title.group-title Buttons
          +button("button1", "Сlick me", "")
          br
          +button("button2", "Сlick me", "button--light")
          br
          +icon-link("Сlick me")
          br
          +button("button3", "Перейти к оплате", "button--go")
        +pagination("Pagination")

    p Cards
    section.cards

    p Headers and Footers
    section.headers-footers
