mixin masked-text-field(id, label, placeholder)
  .masked-text-field
    label.masked-text-field__label(for=id)= label
    input.masked-text-field__input(type="text" name=id id=id placeholder=placeholder)