include ../blocks/color/color
include ../blocks/text-field/text-field
include ../blocks/dropdown/dropdown
include ../blocks/masked-text-field/masked-text-field
include ../blocks/checkbox/checkbox
include ../blocks/button/button
include ../blocks/icon-link/icon-link
include ../blocks/radio/radio
include ../blocks/toggle/toggle
include ../blocks/like-button/like-button
include ../blocks/rate-button/rate-button
include ../blocks/date-dropdown/date-dropdown
include ../blocks/subscription-text-field/subscription-text-field
include ../blocks/range-slider/range-slider
include ../blocks/pagination/pagination
include ../blocks/expandable-checkbox-list/expandable-checkbox-list
include ../blocks/rich-checkbox/rich-checkbox
include ../blocks/bullet-list/bullet-list
include ../blocks/advantage/advantage
include ../blocks/review/review

include ../cards/book-room/book-room
include ../cards/find-room/find-room
include ../cards/login/login
include ../cards/register/register

block variables

doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title #{title}
  body(class=pageClass)
    block content