.dropdown {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  &__label {
    margin-bottom: 5px;
    font-size: 12px;
    line-height: 15px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__head {
    position: relative;
    padding: 12px 59px 10px 15px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: $dark-75;
    background-color: #ffffff;
    border: 1px solid $dark-25;
    border-radius: 4px;
  }

  &__icon {
    position: absolute;
    right: 15px;
    top: 12px;
  }
}
