.range-slider {
  position: relative;

  &__label {
    margin: 0;
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 15px;
    font-weight: 700;
    text-transform: uppercase;
    color: $dark-100;
  }

  &__range {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    font-size: 12px;
    line-height: 15px;
    font-weight: 400;
    text-transform: uppercase;
    color: $dark-50;
  }

  &__body {
    position: relative;
    height: 6px;
    border: 1px solid $dark-25;
    border-radius: 3px;
  }

  &__selected {
    position: absolute;
    top: 0;
    left: 88px;
    right: 96px;
    margin-top: -1px;
    height: 6px;
    background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
    border-radius: 3px;

    &::before,
    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 16px;
      height: 16px;
      margin-top: -5px;
      background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
      border: 2px solid #ffffff;
      border-radius: 10px;
    }

    &::before {
      left: 0;
      margin-left: -7px;
    }

    &::after {
      right: 0;
      margin-right: -7px;
    }
  }
}
